<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="request">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="request">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Mis Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Ejecutivos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documents">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Documentos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>