<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        En proceso
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Resueltas
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">Solicitudes</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText"
      (ionChange)="updateSchedule()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        En proceso
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Resueltas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Solicitudes</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Buscar"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list #scheduleList [hidden]="shownSessions === 0">
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
      <ng-container *ngFor="let session of group.sessions">
        <ion-item-sliding *ngIf="!user.hasFavorite(session.name) && segment === 'all'" #slidingItem
          [attr.track]="session.tracks[0] | lowercase" style="padding: 15px;" [hidden]="session.hide">
          <ion-item>
            <ion-label>
              <h2><strong>{{session.name}}</strong></h2>
              <h3>Atendido por: {{session.author || 'Name'}}</h3>
            </ion-label>
            <ion-icon name="eye-outline" slot="end" routerLink="/app/tabs/request/{{session.id}}"></ion-icon>
            <ion-icon *ngIf="session.status === 'resolve'" name="checkmark-circle-outline" color="success"></ion-icon>
            <ion-icon *ngIf="session.status === 'reject'" name="close-circle-outline" color="danger"></ion-icon>
            <ion-icon  *ngIf="session.status === 'in-progress'" name="time-outline" color="tertiary"></ion-icon>
          </ion-item>

          <ion-item-options style="padding: 15px;">
            <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)">
              Resolver
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding *ngIf="user.hasFavorite(session.name) && segment === 'favorites'" #slidingItem
          [attr.track]="session.tracks[0] | lowercase" style="padding: 15px;" [hidden]="session.hide">
          <ion-item routerLink="/app/tabs/request/session/{{session.id}}">
            <ion-label>
              <h2><strong>{{session.name}}</strong></h2>
              <h3><strong>Atendido por: </strong>{{session.author || 'Name'}}</h3>
            </ion-label>
          </ion-item>

          <ion-item-options style="padding: 15px;">
            <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Reabrir Solicitud')">
              Reabrir
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No hay solicitudes
  </ion-list-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <a routerLink='/app/tabs/schedule'>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-fab>
</ion-content>