<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="username" class="ion-padding-top ion-text-center">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{username}}</h2>

    <ion-list inset>
      <ion-item (click)="updatePicture()">Cambiar Foto</ion-item>
      <ion-item (click)="changeUsername()">Cambiar nombre</ion-item>
      <ion-item (click)="changePassword()">Change Contraseña</ion-item>
      <ion-item (click)="support()">Soporte</ion-item>
      <ion-item (click)="logout()">Cerrar Sesión</ion-item>
    </ion-list>
  </div>
</ion-content>
