<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="updateDocuments()">
      <ion-segment-button value="recents">
        Recientes
      </ion-segment-button>
      <ion-segment-button value="old">
        Archivados
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">Documentos</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateDocuments()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateDocuments()">
      <ion-segment-button value="recents">
        Recientes
      </ion-segment-button>
      <ion-segment-button value="old">
        Archivados
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Documents</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateDocuments()" placeholder="Buscar"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-list #documentList [hidden]="documents.length == 0">
    <ion-item-sliding *ngFor="let document of documents" #slidingItem [hidden]="document.hide">
      <ion-item>
        <ion-label>
          <ion-row>
            <ion-col size="9">
              <h3>{{document.title}}</h3>
              <p>
                Fecha: {{document.date}}
              </p>
              <p>
                Subido por: {{document.owner}}
              </p>
            </ion-col>
            <ion-col size="3">
              <ion-icon name="eye-outline" color="tertiary"></ion-icon>
              <ion-icon name="cloud-download-outline" color="secondary"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
          Download
        </ion-item-option>
        <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
          *ngIf="segment === 'favorites'">
          Remove
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list-header [hidden]="documents.length > 0">
    No hay documentos para mostrar
  </ion-list-header>
</ion-content>
