<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tus Ejecutivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="card-background-page">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tus Ejecutivos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
        <ion-card>
          <img [src]="speaker.profilePic" [alt]="speaker.name + ' profile picture'">
          <div class="card-title">
            <ion-row detail="false" lines="none" class="speaker-item"
              routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}">
              <ion-icon name="chatbox-ellipses" class="chatbox-exceutive"></ion-icon>
              <ion-label>
                <h2>{{speaker.name}}</h2>
              </ion-label>
            </ion-row>
          </div>
          <div class="card-subtitle">
            
              <ion-row detail="false" >
                <ion-icon src="/assets/img/rate.svg" class="stars-exceutive" *ngIf="speaker.stars >= 1"></ion-icon>
                <ion-icon src="/assets/img/rate.svg" class="stars-exceutive" *ngIf="speaker.stars >= 2"></ion-icon>
                <ion-icon src="/assets/img/rate.svg" class="stars-exceutive" *ngIf="speaker.stars >= 3"></ion-icon>
                <ion-icon src="/assets/img/rate.svg" class="stars-exceutive" *ngIf="speaker.stars >= 4"></ion-icon>
                <ion-icon src="/assets/img/rate.svg" class="stars-exceutive" *ngIf="speaker.stars >= 5"></ion-icon>
                <ion-icon src="/assets/img/rate-empty.svg" class="stars-exceutive" *ngIf="speaker.stars < 5"></ion-icon>
                <ion-icon src="/assets/img/rate-empty.svg" class="stars-exceutive" *ngIf="speaker.stars < 4"></ion-icon>
                <ion-icon src="/assets/img/rate-empty.svg" class="stars-exceutive" *ngIf="speaker.stars < 3"></ion-icon>
                <ion-icon src="/assets/img/rate-empty.svg" class="stars-exceutive" *ngIf="speaker.stars < 2"></ion-icon>
                <ion-icon src="/assets/img/rate-empty.svg" class="stars-exceutive" *ngIf="speaker.stars < 1"></ion-icon>
              </ion-row>
            
          </div>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
