.card-background-page {

  ion-card {
    position: relative;
    text-align: left;
        webkit-box-shadow: none;
        box-shadow: none;
  
  }

  .card-title {
    position: absolute;
    top: 78%;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 88%;
    width: 100%;
    color: #fff;
    padding-left: 10px;
  }
  .card-subtitle ion-item{
      
      background-color: transparent;
  }

  ion-icon {
        font-size: 20px; //Preferred size here
    }
}
.chatbox-exceutive{
  margin-right: 10px;
}
.stars-exceutive {
  margin-right: 5px;
  padding-left: 10px;
}

ion-title {
  font-size: 1.5rem;
  color: darkslateblue;
}