<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios">Agendar Cita</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agendar Cita</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <p id="text-detail">Solicita una cita para ser atendido por uno de tus ejecutivos.</p>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input placeholder="Título de la cita"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Categoría</ion-label>
          <ion-input placeholder="Categoría"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input placeholder="Descripción"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-datetime value="2020-11-19" placeholder="Seleccionar Fecha"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Hora de Inicio</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="2020-11-19T07:43Z"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Hora de Fin</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="2020-11-19T07:43Z"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col style="display: flex; justify-content: center;" >
          <ion-button color="secondary" routerLink="/app/tabs/schedule">Cancelar</ion-button>
          <ion-button color="primary">Aceptar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>