<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Soporte</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="support-logo">
    <img src="assets/img/appicon.svg" alt="Ionic Logo">
  </div>

  <form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Ingrese su solicitud de soporte a continuación</ion-label>
        <ion-textarea [(ngModel)]="supportMessage" name="supportQuestion" #supportQuestion="ngModel" rows="6" required></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-text color="danger">
      <p [hidden]="supportQuestion.valid || submitted === false" class="ion-padding-start">
        Debes introducir un mensaje
      </p>
    </ion-text>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">Enviar</ion-button>
    </div>
  </form>
</ion-content>
