<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <h3>{{session.author}}</h3>
    <h2>{{session.name}}</h2>
    <ion-item>
      <ion-label>Prioridad: </ion-label>
      <ion-text color="medium">
        <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Descripción: </ion-label>
      <ion-text color="medium">
        <p>{{session.description}}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Respuesta: </ion-label>
      <ion-text color="medium">
        <p>{{session.description}}</p>
      </ion-text>
    </ion-item>
  </div>

  <!--ion-list>
    <ion-item (click)="sessionClick('watch')" button>
      <ion-label color="primary">Watch</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('add to calendar')" button>
      <ion-label color="primary">Add to Calendar</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('mark as unwatched')" button>
      <ion-label color="primary">Mark as Unwatched</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('download video')" button>
      <ion-label color="primary">Download Video</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="cloud-download"></ion-icon>
    </ion-item>
    <ion-item (click)="sessionClick('leave feedback')" button>
      <ion-label color="primary">Leave Feedback</ion-label>
    </ion-item>
  </ion-list-->
</ion-content>